# Ignore node_modules (except inside the container)
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore build files
dist
build

# Ignore environment files
.env
.env.local
.env.development
.env.production

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore logs and temporary files
logs
*.log
*.pid
*.seed
*.pid.lock
tmp
.cache

# Ignore IDE/editor files
.vscode
.idea
*.swp
.DS_Store
*.sublime-project
*.sublime-workspace

# Ignore test coverage reports
coverage
